<!-- <p>
  <button class='btn btn-success' (click)='clickRooms()'>Rooms</button>
  <button class='btn btn-success' (click)='clickUsers()'>Users</button>
  <button class='btn btn-success' (click)="clickDevices()">Devices</button>

</p> -->


<div class="btn-group-vertical" data-toggle="buttons">
  <button type="button" class="btn btn-primary" (click)='clickRooms()'>Rooms</button>
  <button type="button" class="btn btn-primary"(click)='clickUsers()'>Users</button>
  <button type="button" class="btn btn-primary"(click)='clickDevices()'>Devices</button>
</div>

