
<div class="container">
  <h3>Devices List</h3>
<table class="table">
<thead>
  <tr>
    <th>Id</th>
    <th>Description</th>
    <th>Type</th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
  <tr class="table-secondary" *ngFor="let device of devices" >
      <td>{{device.id}}</td>
      <td>{{device.name }}</td>
      <td>{{device.type?.name}}</td>
      <td><button class="btn btn-secondary btn-sm" (click)="editDevice(device.id)">Edit </button></td>
      <td><button class="btn btn-secondary btn-sm" (click)="deleteDevice(device.id)">Delete</button></td>
  </tr>
</tbody>
</table>  

<div>
    <button class="btn btn-sm" (click)="addNewDevice()">Add New</button>
  </div>
</div>
