<!-- <p-sidebar [(visible)]="display"> Quality Content </p-sidebar> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href=""> IotProject </a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <ul class="nav-item">
        <a class="nav-link" routerLink="/devices"> Devices</a>
        <a class="nav-link" routerLink="/rooms"> Rooms</a>
      </ul>
    </ul>
  </div>
</nav>

<!-- <button type="text" pButton icon="pi pi-plus" label="Show"></button> -->



