
<h1>Device Details</h1>
<div class="container">
  <fieldset class="form-group">
    <label>Description</label>
    <input type="text" [(ngModel)]="device.name" class="form-control" name="name" required="required">
  </fieldset>

  <fieldset class="form-group">
      <label>Info</label>
      <input type="text" [(ngModel)]="device.info" class="form-control" name="name2" required="required">
    </fieldset>

    <fieldset class="form-group">
        <label>Type</label>
        <select class="form-control" [(ngModel)]="device.type " [compareWith]="compareTypes">
            <option *ngFor="let type of types"  [ngValue]="type"> {{ type.name }}</option>
        </select>

            </fieldset>

    <fieldset class="form-group">
        <label>Room</label>
        <select type="number" class="form-control" [(ngModel)]="device.room" [compareWith]="compareTypes"  >
            <option *ngFor="let room of rooms" [ngValue]="room">{{ room.name }}</option>
        </select>

    </fieldset>


</div>

<div>
    <button class="button btn btn" (click)="saveDevice()">Save</button>
</div>



<!-- <h1>My Application</h1>
<select [(ngModel)]="selectedValue">
  <option *ngFor="let c of countries" [ngValue]="c">{{c.name}}</option>
</select> -->


