<app-layout>
  <div class="container">
    <router-outlet></router-outlet>
  </div>

<!---  TESTS TEST TESTS -->

  <!-- <div class="jumbotron">
    <h1>Work in progress ...</h1>
    <p>
      Angular CLI / Bootstrap / FontAwesome!
    </p>
  </div> -->
</app-layout>

<!-- <h1> it works </h1>
<app-users>

</app-users> -->

<!-- <app-layout>
    <nav class="nav flex-column" class="sidenav">
        <a class="nav-link active" href="#">Kitchen</a>
        <a class="nav-link" href="#">Bedroom</a>
        <a class="nav-link" href="#">WC</a>
      </nav>

</app-layout> -->

<!-- <app-layout>
    <div class="sidenav">
        <a href="#about">About</a>
        <a href="#services">Services</a>
        <a href="#clients">Clients</a>
        <a href="#contact">Contact</a>
        <button class="dropdown-btn">Dropdown 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
        <a href="#contact">Search</a>
      </div> -->

<!-- </app-layout> -->